// Custom.scss
// Include any default variable overrides here (though functions won't be available)

@import "./../node_modules/bootstrap/scss/bootstrap";

// Apparel Colors from:
// https://coolors.co/8e9aaf-cbc0d3-efd3d7-feeafa-dee2ff
$indigo: #dee2ff;
$blue: #8e9aaf;
$green: #feeafa;
$purple: #efd3d7;
$red: #985277;
$orange: #880d1e;
$yellow: #ffc107;
$pink: #d7cfdd;
$teal: #2a2d34;
$cyan: #0dcaf0;
$bg-light: #feeafa;